nav {
  display: flex;
  border-bottom: 2px solid #f3f3f3;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  z-index: 999;
  margin-left: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}


input {
  padding: 12px 20px;
  border: none;
  background: #f7f6f6;
  outline: none;
  margin-right: 20px;
  border-radius: 5px;
  position: relative;
  width: 14rem;
}

.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
}


.navbar {
  background-color: #fff; /* Set the background color of your navbar */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  padding: 10px;
  position: sticky;
  top: 0;
  margin-left: 2rem;
  z-index: 999;
  align-items: center;
  max-width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  z-index: 999;
  padding-left: 2rem;
  max-width: 100%;
}

.search-input {
  width: 100%;
  padding: 8px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-container {
  align-items: center;
}

.nav-icons {
  font-size: 1.5rem;
  color: #333; /* Set the color of your icons */
}

/* Add more styles based on your design preferences */
